{:source-paths ["src"]
 :dependencies [[applied-science/js-interop "0.2.7"]
                [lilactown/helix "0.1.1"]
                [lilactown/hx "0.5.3"]]
 :builds {:dev {:target :react-native
                :init-fn myapp.main/init
                :output-dir "react-native/target"
                :js-options {:js-package-dirs ["react-native/node_modules"]}}}}
